<!DOCTYPE html>
<html>
  <head>
    <style>
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }
      tr:nth-child(even) {
          background-color: rgba(150, 212, 212, 0.4);
        }
        
        th:nth-child(even),td:nth-child(even) {
          background-color: rgba(150, 212, 212, 0.4);
        }
</style>
    <meta charset="utf-8">
    <title>View User Data</title>
  </head>
  <body>
    <table>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Hobby</th>
      </tr>
      {% for row in data %}
      <tr>
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
        <td>{{ row[3] }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
